# ===============================
# MYSQL DATABASE CONFIG
# ===============================
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=smart_home


# ===============================
# ORION-LD CONFIG
# ===============================
ORION_URL=http://localhost:1026


# ===============================
# OPTIONAL SETTINGS
# ===============================
# Set to True or False if you later automate pipeline mode
USE_PROCESSED_AS_SOURCE=False
